/* colors */
.white {background-color: #e6e0dc;}
.yellow {background-color: #e8d740;}
.red {background-color: #fc0c09;}
.black {background-color: #0e111b;}
.blue {background-color: #1c2471;}
.coral {background-color: #e4573b;}

/* Even boxes */
*{box-sizing:border-box;}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#grid-container {
    width: 635px;
    height: 948px;
    display: grid;
    grid-template-areas: 'one one two two two three three four'
                         'one one two two two three three four' 
                         'five six six six six seven seven eight'
                         'nine six six six six ten eleven eight'
                         'nine six six six six ten eleven eight'
                         'nine twelve twelve thirteen thirteen fourteen fourteen eight'
                         'fifteen twelve twelve sixteen sixteen seventeen seventeen eighteen'
                         'fifteen nineteen nineteen twenty twenty seventeen seventeen eighteen'
                         'fifteen nineteen nineteen twentyone twentyone twentyone twentyone eighteen';
    grid-template-columns: repeat(7, 1fr) 50px;
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    background-color: #000;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

/* Define area for each tile */
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#ten {grid-area: ten;}
#eleven {grid-area: eleven;}
#twelve {grid-area: twelve;}
#thirteen {grid-area: thirteen;}
#fourteen {grid-area: fourteen;}
#fifteen {grid-area: fifteen;}
#sixteen {grid-area: sixteen;}
#seventeen {grid-area: seventeen;}
#eighteen {grid-area: eighteen;}
#nineteen {grid-area: nineteen;}
#twenty {grid-area: twenty;}
#twentyone {grid-area: twentyone;}

/* Scale for mobile */
@media (max-width: 750px) {
    #grid-container {
        width: 502px;
        height: 750px;
    }
}

@media (max-width: 500px) {
    #grid-container {
        width: 355px;
        height: 530px;
    }
}

